
<ion-header>
  <ion-navbar style="text-align:center" transparent>
    <ion-title>Sinhala Sign To Speech</ion-title>
    <ion-buttons end>
      <button ion-button icon-only outline round (click)="help()">
        <ion-icon name="help" color="light"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="bg_content">
  <div *ngIf="!previousNetStatus" class="netbar">OFFLINE</div>
  
  <ion-item id="but_cont" no-lines>
    <button ion-button round outline item-start class="but_top" (click)="captureVideo()" id="btn_1" color="light">Record Video</button>
    <button ion-button round outline item-end class="but_top" (click)="loadFromGallery()" id="btn_2" color="light">Open Gallery</button>
  </ion-item>
  <br/>
  <video controls autoplay #myvideo (loadedmetadata)="getExecute($event)"></video>
  <br/><br/>
  <button ion-button round outline class="but_tr" (click)="evaluate()" [disabled]="videoDuration > noOfFrames" color="light">Translate</button>
  <br/><br/>
  <ion-card class="txt_cont">
    <img src="assets/imgs/1665896-5043.png" class="logo_img" *ngIf="pred_text_all == ''">
    <div>{{pred_sn_txt}}</div>
    <br/>
    <div>{{pred_text_all}}</div>
    <br/>
    <button ion-button (click)="playVoice()" icon-only [disabled]="pred_voice_all == ''" class="voice_btn">
      <ion-icon name="microphone"></ion-icon>
    </button>
  </ion-card>
  
</ion-content>
