<ion-header>
  <!-- <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar> -->
</ion-header>

<ion-content padding>
  <button ion-button full (click)="captureVideo()">Capture Video</button>
  <button ion-button full (click)="loadFromGallery()">Open Gallery</button>
  <br/>
  <!-- <ion-list>
    <ion-item *ngFor="let file of mediaFiles" tappable (click)="playFile(file)" text-wrap>
      {{file.name}}
      <p>{{file.size/1000/1000 | number}} MB</p>
    </ion-item>
  </ion-list> -->
  <video controls autoplay #myvideo (loadedmetadata)="getExecute($event)"></video>
  <br/>
  <button ion-button full (click)="evaluate()" [disabled]="videoDuration > noOfFrames">Translate</button>
  <br/>
  <ion-card *ngIf="pred_text_all!=''">
    <div>{{pred_text_all}}</div>
  </ion-card>
  <button ion-button (click)="playVoice()" [disabled]="pred_voice_all == ''">Play</button>
  
</ion-content>
